<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AKAD</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap" rel="stylesheet">
</head>



<body>

    <div class="page-main"> <!-- БЛОК №1 -->
                  <div class="wrap">
                      <header>
                          <div class="header">
                            <a href="" class="header__logo"></a>
                            <img class="header__img"  src="../img/menu.png" alt="">
                          </div>
                        </header>
                       <div class="block-creative">
                         <img class="block-creative__block" src="../img/block.png" alt="">
                          <p class="block-creative__were">WE'RE</p>
                          <img class="block-creative__creative" src="../img/creatyve.png" alt="">
                          <h2>CREATIVE AGENCY</h2>
                          <p class="block-creative__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                       </div>
                    <div class="block-history">
                      <div class="block-history__img">
                        <img src="../img/img-history.png" alt="">
                      </div>
                      <div class="block-history-text">
                          <h3>HISTORY OF AGENCY</h3>
                          <p>Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.</p>
                          <button class="block-history-text__btn">READ MORE</button>
                      </div>
                    </div>
                  </div>
    </div>


    <div class="block-why"> <!-- БЛОК №2 -->
       <div class="wrap">
         <div class="block-why-center">
          <h2>WHY CHOOSE US</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         </div>
          


         <div class="block-why-company">
            
          <div class="block-why-company-option">
              <div class="block-why-company-groop__one">
                  <img src="../img/lemniscus.png" alt="">
                  <h3>UNLIMITED OPTION</h3>
                  <p>BRANDING</p>
                  <p>DESIGN & COPYWRITING</p>
                  <p>CONCEPT DEVELOPMENT</p>
                  <p>USER EXPERIENCE</p>
                </div>
                <div class="block-why-company-groop__two">
                  <img src="../img/Arrow.png" alt="">
                  <h3>DESIGN & DEVELOPMENT</h3>
                  <p>INFORMATION ARCHITECTURE</p>
                  <p>INTERFACE DESIGN</p>
                  <p>PRODUCT DESIGN</p>
                  <p>INTEGRATED AD COMPANIES</p>
                 </div>
          </div>
            
            <div class="block-why-company-groop">
                 <div class="block-why-company-groop__three">
                      <img src="../img/Basket.png" alt="">
                      <h3>E-COMMERCE</h3>
                      <p>PROTOTYPING</p>
                      <p>TECHNICAL CONSULTING</p>
                      <p>WEB APPLICATION</p>
                      <p>QALITY TESTING</p>
                     </div>
                     <div class="block-why-company-groop__four">
                      <img src="../img/equalizer.png" alt="">
                      <h3>CUSTOMIZABLE DESIGN</h3>
                      <p>INFORMATION ARCHITECTURE</p>
                      <p>INTERFACE DESIGN</p>
                      <p>PRODUCT DESIGN</p>
                      <p>INTEGRATED AD COMPANIES</p>
                     </div>
            </div>
            <div class="block-why-company-img">
                <img src="../img/img-why.png" alt="">
            </div>
         
     </div>

      
    </div>
    </div>
  


    <div class="block-portfolio"> <!-- БЛОК №3 -->
      <div class="wrap">
          <div class="block-our">
              <h2>OUR PORTFOLIO</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
    
            <div class="block-category">
              <h2>CHOOSE CATEGORY</h2>
              <p>ALL</p>
              <h3>WEBDESIGN</h3>
              <h3>GRAPHIC DESIGN</h3>
              <h3>FASHION</h3>
              <h3>LOGO DESIGN</h3>
              <h3>ADVERTISING</h3>
            </div>
    
            <div class="block-grid">
              <div class="block-grid__item1">
                <img src="../img/stairs.png" alt="">
              </div>
              <div class="block-grid__item2">
                  <img src="../img/forest.png" alt="">
              </div>
              <div class="block-grid__item3">
                  <img src="../img/packaging.png" alt="">
              </div>
              <div class="block-grid__item4">
                  <img src="../img/milk.png" alt="">
              </div>
              <div class="block-grid__item5">
                  <img src="../img/tape.png" alt="">
               </div>
               <div class="block-grid__item6">
                  <img src="../img/receptacle.png" alt="">
               </div>
               <div class="block-grid__item7">
                  <img src="../img/product.png" alt="">
              </div>
              <div class="block-grid__item8">
                  <img src="../img/leblue.png" alt="">
              </div>
              <div class="block-grid__item9">
                  <img src="../img/pencil.png" alt="">
               </div>
    
            </div>
      </div>
       
    </div>
</body>
</html>